<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <title th:text="${note} == null ? 'Add note' : 'Edit note'"></title>
</head>
<body>
<div class="container-sm">
    <h1 class="mt-2" th:text="${note} == null ? 'Add note' : 'Edit note'"></h1>
    <form
            th:action="'/note/' + (${note} == null ? 'add' : 'edit')"
            method="post"
    >
        <div class="mb-3">
            <label for="title" class="form-label">Note title</label>
            <input type="text" class="form-control" id="title" name="title" th:value="${note?.title}" placeholder="Input title ..." />
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Note content</label>
            <textarea class="form-control" id="content" name="content" th:text="${note?.content}" rows="4"></textarea>
        </div>
        <input type="hidden" name="id" th:value="${note?.id}" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>