<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <style>
    a{
      display: flex;
      align-items: center;
      justify-content: center
    }
    body {
    background-image: url("/assets/img/bg-masthead.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    }
  </style>
  <title>Нотатки</title>
</head>
  <body>
    <div class="container-sm">
      <div th:if="${note != null}">
       <h1 class="mt-2" th:text="${note.title}"></h1>
       <h2 class="mt-2" th:utext="${note.content}"></h2>
      </div>
      <div th:unless="${note != null}">
        <div class="row justify-content-center align-items-center">
          Такої нотатки не існує :(
        </div>
        </div>
    </div>
  </body>
</html>